:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--almost-white);
  font-family: 'Epilogue', sans-serif;
}

a {
  text-decoration: none;
  color: var(--medium-gray);
}

ul {
  list-style: none;
}

/* ==== GENERAL STYLES ==== */

.container {
  max-width: 144rem;
  margin: 0 auto;
}

/* ============ 
    HEADER 
   ============ */


header {
  margin-bottom: 8rem;
  padding: 3rem 4rem 0 4rem;

  display: flex;
  align-items: flex-start;
  gap: 6rem;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.nav-items {
  display: flex;
  gap: 3.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-item:nth-of-type(1) ion-icon[name="chevron-down-outline"],
.nav-item:nth-of-type(2) ion-icon[name="chevron-down-outline"] {
  transition: all .2s ease-in-out;
}

.nav-item:nth-of-type(1):hover ion-icon[name="chevron-down-outline"],
.nav-item:nth-of-type(2):hover ion-icon[name="chevron-down-outline"] {
  transform: rotate(180deg);
}

.nav-item:nth-of-type(1),
.nav-item:nth-of-type(2) {
  position: relative;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}

.nav-item__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-item__link:hover {
  color: var(--almost-black);
}

.nav-item:nth-of-type(1) .nav-item__submenu,
.nav-item:nth-of-type(2) .nav-item__submenu {
  position: absolute;
  top: 3.5rem;
  right: 0;
  padding: 2.5rem;
  display: none;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--almost-white);
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.nav-item:nth-of-type(1) .nav-item__submenu a {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-item:nth-of-type(2) .nav-item__submenu {
  left: 0;
  width: 7rem;
}

.nav-item:nth-of-type(1):hover .nav-item__submenu,
.nav-item:nth-of-type(2):hover .nav-item__submenu {
  display: flex;
}

.nav-item__submenu a:hover,
.nav-item__submenu a:hover {
  color: black;
}

.usr-login {
  display: flex;
  gap: 3.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-login:hover {
  color: var(--almost-black);
}

.btn-register {
  border: 2px solid var(--medium-gray);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
}

.btn-register:hover {
  border: 2px solid var(--almost-black);
  color: var(--almost-black);
}

.mobile-icons {
  display: none;
}

/* ============ 
    HERO SECTION 
   ============ */

.hero-container {
  max-width: 115rem;
  margin: 0 auto;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70rem;
}

.hero-textbox {
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.hero-title {
  font-size: 8rem;
  color: var(--almost-black);
}

.hero-description {
  font-size: 1.8rem;
  color: var(--medium-gray);
  line-height: 1.5;
  padding-right: 8rem;
  margin-bottom: 2rem;
}

.btn-hero:link,
.btn-hero:visited {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--almost-white);
  background-color: var(--almost-black);
  border: 1px solid var(--almost-black);
  border-radius: 1.5rem;
  padding: 1.5rem 2.5rem;
  transition: all .2s;
}

.btn-hero:hover,
.btn-hero:active {
  color: var(--almost-black);
  background-color: var(--almost-white);
}

.btn-hero-container {
  margin-bottom: 3rem;
}

.brand-logos {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.hero-img {
  background-image: url(./images/image-hero-desktop.png);
  background-size: cover;
  height: 70rem;
}

/* ============ 
    FOOTER 
   ============ */

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ================ 
    MEDIA QUERIES 
   ================ */

@media screen and (max-width: 450px) {

  .backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6);
  }

  header {
    padding: 1rem 2rem 2rem 2rem;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .header-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 65%;
    z-index: 10;
    background-color: var(--almost-white);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10rem;
    gap: 5rem;
    transform: translateX(100%);
    transition: all .3s;
  }

  .nav-items,
  .usr-login {
    flex-direction: column;
    padding: 0 2.5rem;
    font-size: 1.8rem;
  }

  .nav-item:nth-of-type(1),
  .nav-item:nth-of-type(2) {
    padding-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item:nth-of-type(2) .nav-item__submenu {
    width: 10rem;
  }

  .nav-item__link {
    gap: 1.5rem;
  }

  .nav-item:nth-of-type(1) .nav-item__submenu,
  .nav-item:nth-of-type(2) .nav-item__submenu {
    position: static;
    padding-left: 2rem;
    background-color: var(--almost-white);
    border-radius: none;
    box-shadow: none;
  }

  .nav-item__link:active .nav-item__submenu {
    display: flex;
  }

  .usr-login {
    align-items: center;
  }

  .mobile-icons {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  ion-icon[name="menu-outline"],
  ion-icon[name="close-outline"] {
    font-size: 4rem;
    color: var(--almost-black);
  }

  ion-icon[name="close-outline"] {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
  }

  .mobile-menu-visible {
    transform: translateX(0);
  }


  /* ============ 
    HERO SECTION 
   ============ */

  .hero-container {
    padding: 0;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 3rem;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    height: 30rem;
  }

  .hero-textbox {
    padding-top: 0;
    gap: 2rem;
    align-items: center;
  }

  .hero-title {
    font-size: 3.5rem;
  }

  .hero-description {
    font-size: 1.6rem;
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 3rem;
  }

  .brand-logos {
    justify-content: center;
    gap: 3.5rem;
  }

  .brand-logos img {
    height: 1.5rem;
  }

  .hero-img {
    background-image: url(./images/image-hero-mobile.png);
    height: 29rem;
    grid-row: 1;
  }

  .attribution {
    margin-top: 4rem;
    font-size: 11px;
    text-align: center;
    padding: 1rem 0;
  }
}